@{
    Layout = "_Layout";
}
<div class="container py-5">
    
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-6">Transactions</h1>
        </div>
    </div> <!-- End -->
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <!-- tabs -->
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item"> <a data-toggle="pill" href="#deposit" class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Deposit </a> </li>
                            <li class="nav-item"> <a data-toggle="pill" href="#withdraw" class="nav-link "> <i class="fab fa-paypal mr-2"></i> Withdraw </a> </li>
                            <li class="nav-item"> <a data-toggle="pill" href="#transfer" class="nav-link "> <i class="fas fa-mobile-alt mr-2"></i> Transfer </a> </li>
                        </ul>
                    </div> <!-- End -->
                    <!-- form content -->
                    <div class="tab-content">
                        <!-- confirm transaction info-->
                        <div id="deposit" class="tab-pane fade show active pt-3">
                            <form role="form" onsubmit="event.preventDefault()">
                                <div class="form-group"> <label for="accountNumber">
                                        <h6>Account Number</h6>
                                    </label> <input type="number" name="accountNumber" placeholder="Account Number" required class="form-control "> </div>
                                <div class="form-group"> <label for="amount">
                                        <h6>Amount</h6>
                                    </label>
                                    <div class="input-group"> <input type="number" name="Amount" placeholder="Amount to Deposit" class="form-control " required>
                                        <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label><span class="hidden-xs">
                                                    <h6>Date</h6>
                                                </span></label>
                                            <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control" required> <input type="number" placeholder="YY" name="" class="form-control" required> </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4"> <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                            </label> <input type="text" required class="form-control"> </div>
                                    </div>
                                </div>
                                <div class="card-footer"> <button type="button" class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Deposit</button>
                            </form>
                        </div>
                    </div> <!-- End -->
                    <!-- Withdraw -->
                    <div id="withdraw" class="tab-pane fade pt-3">
                        <form role="form" onsubmit="event.preventDefault()">
                                <div class="form-group"> <label for="accountNumber">
                                        <h6>Account Number</h6>
                                    </label> <input type="number" name="accountNumber" placeholder="Account Number" required class="form-control "> </div>
                                <div class="form-group"> <label for="amount">
                                        <h6>Amount</h6>
                                    </label>
                                    <div class="input-group"> <input type="number" name="Amount" placeholder="Amount to Deposit" class="form-control " required>
                                        <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label><span class="hidden-xs">
                                                    <h6>Date</h6>
                                                </span></label>
                                            <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control" required> <input type="number" placeholder="YY" name="" class="form-control" required> </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4"> <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                            </label> <input type="text" required class="form-control"> </div>
                                    </div>
                                </div>
                                <div class="card-footer"> <button type="button" class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Withdraw </button>
                            </form>
                    </div> <!-- End -->
                    <!-- Transfer -->
                <div class="tab-content">
                    <div id="transfer" class="tab-pane fade pt-3">
                        <form role="form" onsubmit="event.preventDefault()">
                                <div class="form-group"> <label for="accountNumber">
                                        <h6>Account Number</h6>
                                    </label> <input type="number" name="accountNumber" placeholder="Account Number" required class="form-control "> </div>
                                <div class="form-group"> <label for="amount">
                                        <h6>Amount</h6>
                                    </label>
                                    <div class="input-group"> <input type="number" name="Amount" placeholder="Amount to Deposit" class="form-control " required>
                                        <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label><span class="hidden-xs">
                                                    <h6>Date</h6>
                                                </span></label>
                                            <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control" required> <input type="number" placeholder="YY" name="" class="form-control" required> </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4"> <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                            </label> <input type="text" required class="form-control"> </div>
                                    </div>
                                </div>
                                <div class="card-footer"> <button type="button" class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Transfer </button>
                            </form>
                    </div> 
                </div><!-- End -->
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>

    <script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script> 